* {
  margin: 0;
  padding: 0;
}

.aiimg2 {
  max-height: 40px;
  max-width: 250px;
  width: 100%;
  cursor: pointer;
}

.navare {
  height: 5rem;
  display: flex;
  align-items: center;
}

.dashboard {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: white;
}

.dashcontaintant {
  width: 84%;
  display: flex;
}

.options {
  gap: 10px;
  color: #454545;
}
.options2:hover {
  color: black;
  cursor: pointer;
}

.proimg {
  border-radius: 50%;
}

.toglmenu {
  border: 1px solid #004d7e;
  border-radius: 20px;
}

.profileimg2 {
  border-radius: 100px;
}

.profileinfop1 {
  color: #353636;
}
.p2 {
  color: #38383a;
  font-size: 14px;
}

.desh2 {
  width: 84%;
}

.dash2p2 {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  color: #071437;
}

.dash2btn {
  background-color: #004473;
  border: none;
  border-radius: 0.8rem;
  color: #fff;
  padding: 10px 20px;
  font-size: 13px;
  height: max-content;
}

.fulltimetxt {
  color: #7b66ff;
  font-weight: 600;
}

/* .jobcontanir {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  margin: 20px;
} */

.jobcards {
  border: 1px solid #e8e8e8;
  cursor: pointer;
}

.cardinfo1 {
  color: #0b2b82;
  font-size: 20px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
}

.cardinfo2 {
  font-size: 13px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  color: #3d589b;
  margin-bottom: 1.5rem;
}

.cardinfo3 {
  font-size: 13px;
  font-family: "Poppins", sans-serif;
  color: #3d589b;
  margin-bottom: 1rem;
}

.cardinfobtn {
  background: none;
  border: none;
  color: #0c2e82;
  font-family: Poppins, sans-serif;
  font-size: 15px;
  text-decoration: underline;
}

.navbar {
  top: 0;
  position: sticky;
}
